.experiences{   
    margin: 40px 30% 0px 20%;
    padding-left: 1em;
    padding-right: 1em;
}

.experiences h2{
    text-align: center;
}

#date{
    clear: right;
    float: right;
    font-size: larger;
}

#company{
    clear: left;
    float: left;
    font-size: larger;
}

#title{
    color: navy;
    font-size: large;
    clear: left;
    float: left;
    margin-top: -5px;
}

#descrip{
    clear: left;
    float: left;
    margin: -5px 30% 0px 40px;
    counter-reset: li; 
    list-style: none; 
    padding: 0;
}

#company, #date{
    display: inline;
}

#descrip li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background-color: rgb(126, 202, 227);
    color: black;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

#descrip li:hover{ 
    background: #f9dd94; 
}

#descrip li:hover:before{ 
    transform: rotate(360deg); 
    background-color: rgb(126, 202, 227);
}

#descrip li:before{
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background-color: #f9dd94;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}