html{
    font-family: Georgia;
    background: linear-gradient(15deg, white, lightgoldenrodyellow);
    background-repeat: no-repeat;
    background-size: 3000% 3000%;
    cursor: none;
}

h2{
    font-size: 21px;
}

h3{
    font-size: 17px;
}

h4{
    font-size: medium;
}

strong{
    font-size: 30px;
    margin-left: 10px;
}

.follower{
    width: 20px;
    height: 20px;
    background: linear-gradient(to top left, #0062bE, #00A2FE);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 3000;
}

.columns {
    margin: 40px 15% 0px 15%;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    background-color: white;
    padding-top: 1em;
    box-shadow: 0px 0px 5px black;
}

.left-column{
    justify-content: center;
    margin-left: 15%;
}

img{
    padding: 1em;
}

.upe{
    color: black;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: rgb(126, 202, 227);
    overflow: hidden;
    margin: -10px;
    z-index: 100;
}

.navbar strong{
    padding: 1em;
}

.navbar button {
    border: solid 1pt black;
    appearance: none;
    backface-visibility: hidden;
    background-color: rgb(126, 202, 227);
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 15px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-right: 5px;
}

.navbar button:hover {
    cursor: none;
    background-color: lightblue;
    box-shadow: 0px 0px 5px black;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.navbar button:hover:after {
    opacity: .5;
}

.navbar button:active{
    cursor: none;
    background-color: lightblue;
    box-shadow: 0px 0px 5px black;
    opacity: 1;
}

.navbar button:active {
    box-shadow: 0px 0px 5px black;
    transform: translateY(2px);
    transition-duration: .35s;
    cursor: none;
}

.navbar button:active:after{
    opacity: 1;
    cursor: none;
}

@media (min-width: 960px) {
    .navbar button{
        padding: 14px 22px;
        width: 180px;
    }
}

@media(max-width: 960px){
    .navbar button{
        padding: 10px 20px;
        width: 150px;
    }

    .left-column{
        margin-left: 5%;
    }
}

.right-column a:hover{
    cursor: none;
}

.left-column .images:hover{
    cursor: none;
    transform: scale(1.3);
}

.message{
    display: inline-block;
    font-size: 24px;
    margin: 40px 15% 0px 15%;
    text-align: center;
}

.message h1 span{
    position: relative;
    display: inline-block;
    font-size: 40px;
    text-transform: uppercase;
    animation: flip 3.7s infinite;
    animation-delay: calc(.2s * var(--i));
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}