strong{
    font-size: 30px;
    margin-left: 10px;
}

.columns {
    margin: 40px 21% 0px 200px;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    background-color: whitesmoke;
    padding: 1em;
}

img{
    padding: 1em;
}

.navbar{
    position: sticky;
    background-color: lightblue;
    overflow: hidden;
    margin: -10px;
}

.navbar strong{
    padding: 1em;
}

.navbar button {
    border: solid 1pt black;
    appearance: none;
    backface-visibility: hidden;
    background-color: lightblue;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 15px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-right: 5px;
}

.navbar button:hover {
    background-color: rgb(133, 207, 232);
    box-shadow: 0px 0px 5px black;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.navbar button:hover:after {
    opacity: .5;
}

.navbar button:active {
    box-shadow: 0px 0px 5px black;
    transform: translateY(2px);
    transition-duration: .35s;
}

.navbar button:active:after{
    opacity: 1;
}

.skills{
    margin: 40px 400px 0px 200px;
    padding-left: 1em;
}

.info {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    box-shadow: 0px 0px 5px black;
}
  
.hover:hover .info {
    visibility: visible;
}

@media (min-width: 768px) {
    .navbar button{
        padding: 14px 22px;
        width: 176px;
    }
}

.hover {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 10px;
    margin-bottom: 10px;
}
  
.hover::after {
    content: "";
    border-radius: 10px;
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    box-shadow: 0px 0px 5px black;
}
  
.hover:hover::after {
    top: 0px;
    left: 0px;
}

.experiences{
    margin: 40px 30% 0px 20%;
    padding-left: 1em;
    padding-right: 1em;
}

.experiences h2{
    text-align: center;
}

#date0,#date1,#date2,#date3,#date4{
    clear: right;
    float: right;
}

#company0,#company1,#company2,#company3,#company4{
    clear: left;
    float: left;
}

#title0,#title1,#title2,#title3,#title4{
    clear: left;
    float: left;
    margin-top: -5px;
}

#descrip0,#descrip1,#descrip2,#descrip3,#descrip4{
    clear: left;
    float: left;
    margin: -5px 30% 0px 40px;
    counter-reset: li; 
    list-style: none; 
    padding: 0;
}

#company0, #date0{
    display: inline;
}

#descrip0 li, #descrip1 li, #descrip2 li, #descrip3 li, #descrip4 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: lightblue;
    color: black;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

#descrip0 li:hover, #descrip1 li:hover, #descrip2 li:hover, #descrip3 li:hover, #descrip4 li:hover { 
    background: whitesmoke; 
}

#descrip0 li:hover:before, #descrip1 li:hover:before, #descrip2 li:hover:before, #descrip3 li:hover:before, #descrip4 li:hover:before { 
    transform: rotate(360deg); 
    background: lightblue;
}

#descrip0 li:before, #descrip1 li:before, #descrip2 li:before, #descrip3 li:before, #descrip4 li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #f9dd94;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: .3em solid #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all .3s ease-out;
}

.experiences{
    z-index: 1;
    box-shadow: 0px 0px 5px black;
    padding-bottom: 110vh; 
    background: linear-gradient(-45deg, lightgreen,lightcoral, yellow); 
    background-size: 300% 300%;
    border-radius: 3%;
    width: 50%;
}   

/**.experiences:hover{
    animation: animate 15s ease infinite;
}

@keyframes animate {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    0%{background-position: 0 50%;}
}**/
